@page "/"

<PageTitle>Home</PageTitle>

<h1>Posições Geográficas</h1>
<br />
<h3>Teste técnico feito para processo seletivo da empresa Netrin.</h3>
<br />
<ul>
    <li>CRUD de posições geográficas;</li>
    <li>Mostrar as posições no google maps, caso as posições estejam próximas da distância determinada, desenhar um quadrado vermelho entre as posições.</li>
</ul>

<br />
<p>Arthur Martins Thomé - 26/05/2025</p>